<!DOCTYPE html>
<html lang="en">
<head>
    <title>Реальная школа - учим детей управлять финансами</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet">
</head>


<body style="margin: 0px;">
    <header>
        {% block content_header %} {% endblock %}

    </header>
    <main>
        {% block content_Index %} {% endblock %}
        {% block content_About %} {% endblock %}
        {% block content_Forwhom %} {% endblock %}
        {% block content_Freeles %} {% endblock %}
    </main>
    <footer>

    </footer>
</body>